body {
    background: linear-gradient(309deg, #31ae8e, #a78877, #14301e);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 11%}
        50%{background-position:100% 90%}
        100%{background-position:0% 11%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 11%}
        50%{background-position:100% 90%}
        100%{background-position:0% 11%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 11%}
        50%{background-position:100% 90%}
        100%{background-position:0% 11%}
    }


.title{
    text-align: center;



}






.brand {

    color:#ff0;
    animation-name:intro;
    animation-delay: 1s;
    animation-duration:2s;
    animation-iteration-count: 1;
    position:relative;
    animation-fill-mode: forwards;
    left:-500px;
}

@keyframes brandAnimate { 
    0%{
        left:-500px;
    }

    100%{
        left:0px;
    }

}




.food {
display:flex;

}

@media screen (min-width:600px;){
    .food{
        display:flex;
    }
}