#main {
    border:1px solid #aaa;
    width:600px;
    min-height:500px;
    margin:auto;
}
h1{
    text-align: center;
}   /*productinformation 글자 가운데로 정렬*/

#entry div{
    text-align: right;
    width:500px;
    margin:auto;
}   /*name과 price글자, 네모박스, save모두 오른쪽으로 정렬 및 크기와 여백 설정*/